button, button:hover, button:active {
    color: white;
}

#login-panel {
    padding: 0 20px;
}

#login-panel h4 {
    color: black;
}

input.form-control:focus {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 0 orange;
}