<form #factsForm="ngForm" (ngSubmit)="createFact(); factsForm.reset()">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-7">
            <div class="form-group">
                <input class="form-control" type="text" name="title" [(ngModel)]="fact.title" #tbTitle="ngModel" required placeholder="Въведете заглавие на факта"
                />
                <div [hidden]="tbTitle.untouched || tbTitle.valid">
                    Невалидно заглавие на факта
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" [(ngModel)]="fact.description" placeholder="Въведете описание на факта"
                    required />
            </div>
            <div class="form-group">
                <input class="form-control" type="url" name="img" [(ngModel)]="fact.img" placeholder="Въведете снимка за факта">
            </div>
            <div class="form-group">
                <button class="btn btn-success">Създаване</button>
                <button (click)="return()" class="btn btn-danger">Назад</button>
            </div>
        </div>
        <div class="col-xs-3">
            <img [src]="fact.img" class="fact-image" [hidden]="!fact.img">
        </div>
    </div>
</form>