<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <img class="img-responsive" src="{{pet.imgSrc}}" alt="{{pet.name}}">
        <ul class="nav nav-tabs">
            <li><a>За Мен</a></li>
            <li><a>Родословно Дърво</a></li>
            <li><a>Снимки</a></li>
            <li><a>Видеа</a></li>
            <li>
                <a href="#">Осинови Ме!</a>
            </li>
        </ul>
    </div>
</div>
<div class="row" *ngFor='let post of pet.posts'>
    <article class="col-md-6 col-md-offset-3 well">
        <h1>{{post.caption}}</h1>
        <ul class="list-unstyled">
            <li *ngIf="post.info.where"><small>Във: <a href="#">{{post.info.where}}</a></small></li>
            <li *ngIf="post.info.with"><small>Със: <a href="#">{{post.info.with}}</a></small></li>
        </ul>
        <img class="img-responsive" src="{{post.imgSrc}}" alt="">
        <p class="well" style="background-color:white">{{post.description}}</p>
</article>
</div>
