<div *ngIf="pet">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <img class="img-responsive" src="{{pet.imgSrc}}" alt="{{pet.name}}">
            <ul class="nav nav-tabs">
                <li><a routerLink="/animals/about" (click)="showAbout()">За Мен</a></li>
                <li><a routerLink="/animals/familytree" (click)="showFamilyTree()">Родословно Дърво</a></li>
                <li><a routerLink="/animals/pictures" (click)="showPictures()">Снимки</a></li>
                <li><a routerLink="/animals/videos" (click)="showVideos()">Видеа</a></li>
                <li>
                    <a (click)="consoleLog()">Осинови Ме!</a>
                </li>
            </ul>
            <h1 *ngIf="url[2] == 'about' && isAboutShowed == true">{{pet.about}}</h1>
            <h1 *ngIf="url[2] == 'familytree' && isFamilyTreeShowed == true">Famili Tree</h1>
            <h1 *ngIf="url[2] == 'pictures' && isPicturesShowed == true">pictures</h1>
            <h1 *ngIf="url[2] == 'videos' && isVideosShowed == true">Videos</h1>
        </div>
    </div>
    <div class="row" *ngFor='let post of pet.posts'>
        <article class="col-md-6 col-md-offset-3 well">
            <h1>{{post.caption}}</h1>
            <ul class="list-unstyled">
                <li *ngIf="post.info.where"><small>Във: <a href="#">{{post.info.where}}</a></small></li>
                <li *ngIf="post.info.with"><small>Със: <a href="#">{{post.info.with}}</a></small></li>
            </ul>
            <div class="row">
                <div class="col-md-6">
                    <img class="img img-responsive" src="{{post.imgSrc}}" alt="">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default" (click)="like(post.id)">Like</button>
                    <a href="#">{{post.likes.length}}</a>
                </div>
            </div>
            <div class="well">
                <p>{{post.description}}</p>
            </div>
            <hr>
            <div *ngFor="let comment of post.comments">
                <p><small><strong>{{comment.creator}}: </strong> {{comment.content}}</small></p>
            </div>
            <hr>
            <input placeholder="Enter your comment here">
            <button class="btn btn-default" click()="addComment(post.id)">Add</button>
        </article>
    </div>
</div>