<div class="container">
    <button (click)="addFact()" class="btn btn-success">Добавяне на любопитен факт</button>

    <ul *ngIf="facts" class="list">
        <li *ngFor="let fact of facts">
            <div class="sub-nav-home card text-center">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive img-thumbnail" [src]="fact.img">
                    </div>
                    <div class="col-md-8">
                        <h4>{{fact.title}}</h4>
                        <div class="thumbnail-content">{{fact.description}}</div>
                            <div class="thumbnail-content">Описание: {{fact.description}}</div>
                            <div class="thumbnail-content">Добавено от: {{fact.addedBy}}</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div *ngIf="!facts.length">
        Все още няма добвени факти!
    </div>
</div>