.fact-description {
    display: none;
}

.btn-uncover:hover~.fact-description {
    display: block;
}

.fact-image {
    max-width: 100%;
}

.fact-form-container {
    position: relative;
    background: white;
}

.fact-form {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1000;
}