<div class="container">
  <div class="row text-right">
    <h4 class="news-entry-title">{{article.title}}</h4>
  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <img class="img-thumbnail img-responsive" [src]="article.imgUrl" [alt]="article.title">
      <p>
        Автор: {{article.author}}
      </p>
      <p class="small">Създадена на: {{article.createdOn}}</p>
      <div>
        <button class="btn btn-success btn-xs" type="button">Like! (0)</button>
      </div>
    </div>
    <div class="col-md-9">
      <p class="news-content small">{{article.content}}
      </p>
    </div>
  </div>
</div>