.news-content {
    text-align: justify;
}

.news-content {
    margin-top: 20px;
}

.comment {
    margin-top: 20px;
    color: black;
}

.comment * {
    color: black;
}

.comment-profile-link {
    color: red;
}