.news-content {
    text-align: justify;
}

.news-content {
    margin-top: 20px;
}

.comment {
    margin-top: 20px;
    color: black;
}

.comment * {
    color: black;
}

#commentInput:focus {
    border: orange;
    box-shadow: 0 0 15px orange;
}

#btn-comment, #btn-comment:hover, #btn-comment:active, #btn-comment:visited {
    color: white;
}

.no-comments {
    margin-top: 25px;
    font-style: italic;
    font-size: 15px;
}

.news-pic {
    cursor: pointer;
}

.news-pic:hover {
    box-shadow: 0 0 15px orange;
}