body, html {
     height: 100%;
     font-size: 16px;
}

main {
    min-height: 77.5%;
}

.btn, .btn:hover, .btn:active {
    color: white;
}

.link-title, .link-title p {
    font-weight: bold;
    cursor: pointer;
}

.table-header {
    border-bottom: 1px solid orange;
}
