<div class="container-home row text-center">
  <img class="img-responsive" src="./assets/images/cute-cat-and-dog-sleep-wallpaper-resized.jpg" alt="cat-dog">
  <a (click)="scrollDown()"><img class="img-responsive arrow-home" src="./assets/images/down-arrow-circle-hi.png" alt="arrow"></a>
</div>
<div class="row text-center">
  <h2 class="home-title">Вземи ме вкъщи!</h2>
</div>
<div class="container">
  <div class="col-md-4">
    <div class="card text-center">
        <img class="img-responsive img-thumbnail" src="./assets/images/oldest-cat-living-guinness-world-records-corduroy-52.jpg" alt="cat">
        <h4>Осинови</h4>
        <div>Приюти някое от прекрасните малки животинчета, които искат в замяна само любов!</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center">
        <img class="img-responsive img-thumbnail" src="./assets/images/woman-feeding-dog-snack.jpg" alt="dog">
        <h4 class="">Кампании</h4>
        <div>Помогни ни, като се включиш в някоя от нашите кампании в помощ на малките ни приятели!</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-center">
        <img class="img-responsive img-thumbnail" src="./assets/images/hd-cats-and-dog-images-wallpaper.jpg" alt="cat-dog">
        <h4>Галерия</h4>
        <div>Снимки на някои от нашите животинки. Много от тях вече си намериха дом, други чакат може би точно теб!</div>
    </div>
  </div>
</div>