.container-home {
    top: -100px;
    position: relative;
}

.arrow-home {
    max-width: 80px;
    position: absolute;
    left: 47%;
    top: 80%;
} 

.home-title {
    border-bottom: 2px solid orange;
}