<div class="container-home row text-center">
  <img class="img-responsive" src="./assets/images/cute-cat-and-dog-sleep-wallpaper-resized.jpg" alt="cat-dog">
  <a pageScroll [pageScrollDuration]="500" href="#home-scroll-down"><img class="img-responsive arrow-home" src="./assets/images/down-arrow-circle-hi.png" alt="arrow"></a>
</div>
<div class="container-content">
  <div id="home-scroll-down" class="row text-center">
    <h2 class="home-title">Вземи ме вкъщи!</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div routerLink="/pets/page/1" class="sub-nav-home card text-center">
          <img class="img-responsive img-thumbnail" src="./assets/images/oldest-cat-living-guinness-world-records-corduroy-52.jpg"
            alt="cat">
          <h4>Осинови</h4>
          <div class="thumbnail-content">Приюти някое от прекрасните малки животинчета, които искат в замяна само любов!</div>
        </div>
      </div>
      <div class="col-md-4">
        <div routerLink="/campaign/list" class="sub-nav-home card text-center">
          <img class="img-responsive img-thumbnail" src="./assets/images/woman-feeding-dog-snack.jpg" alt="dog">
          <h4 class="">Кампании</h4>
          <div class="thumbnail-content">Помогни ни, като се включиш в някоя от нашите кампании в помощ на малките ни приятели!</div>
        </div>
      </div>
      <div class="col-md-4">
        <div routerLink="/facts" class="sub-nav-home card text-center">
          <img class="img-responsive img-thumbnail" src="./assets/images/hd-cats-and-dog-images-wallpaper.jpg" alt="cat-dog">
          <h4>Любопитно</h4>
          <div class="thumbnail-content">Прочети или сподели с нас интересни и забавни факти, свързани с домашните ни любимци!</div>
        </div>
      </div>
    </div>
    <div class="row text-left">
      <div class="row">
        <h4 class="news-main-title">Последни новини</h4>
        <app-news-entry *ngFor="let newsEntry of newsData" [data]="newsEntry" (click)="goToDetails(newsEntry)"></app-news-entry>
      </div>
      <div class="row">
          <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-block btn-success" routerLink="/news/page/1" type="button">Виж още...</button>
          </div>
      </div>
    </div>
  </div>
</div>