/*.campaign-image {
    max-width: 100%;
}

.campaign-create-container {
    position: relative;
    background: white;
}

.campaign-create {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1000;
}*/