<button (click)="addCampaign()" class="btn btn-success">Добавяне на кампания за любимец</button>

<ul *ngIf="campaigns" class="list">
    <li *ngFor="let campaign of campaigns">
        <div class="row">
            <div class="col-xs-3 text-left">
                <strong>{{campaign.name}}</strong>
                <br>
                <strong>{{campaign.description}}</strong>
                <button (click)="viewDetails(campaign._id)" class="btn btn-success">Вижте повече за кампанията</button>
            </div>
        </div>
    </li>
</ul>
<div *ngIf="!campaigns.length">
    Все още няма добвени капмании!
</div>