<div class="container fluid">
    <main>
        <div class="row">
            <article class="col-md-6">
                <img class="img-responsive" src="../imgs/mike.jpg" alt="dog Mike">
                <h2><a href="../animals/ares.html">{{titles}}</a></h2>
                <ul>
                    <li>Години: 3 години</li>
                    <li>Тегло: 39 kg</li>
                    <li>Порода: Лабрадор</li>
                    <li>Пол: Мъжки</li>
                </ul>
            </article>
            <article class="col-md-6">
                <img class="img-responsive" src="../imgs/merida.jpg" alt="dog Mike">
                <h2><a href="">{{titles}}</a></h2>
                <ul>
                    <li>Години: 1 години</li>
                    <li>Тегло: 4 kg</li>
                    <li>Порода: Тигър</li>
                    <li>Пол: Женски</li>
                </ul>
            </article>
        </div>
    </main>
</div>